.promo--card {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    color:white;
    display: flex;
    width: 480px;
    flex-direction: column;
}
.promo--card h3 {
    text-align: center;
    padding: 0.8rem 0;
    background-color: black;
    text-transform: uppercase;
}
.promo--card img {
    object-fit: cover;
    height: 220px;
}

