@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1048px;
    margin: 0 auto;
    padding:0.8rem 0.4rem;
}
.invisible {
    display: none;
}